<figure class="item standard" data-groups='{{groups}}'>
  <div class="portfolio-item-img">
    <img src={{imgSrc}} alt="{{title}}" title="{{title}}" class="img">
    <a href={{hrefLink}} class="ajax-page-load"></a>
  </div>
  <i class="far fa-file-alt"></i>
  <h4 class="name">{{title}}</h4>
  <span class="category">{{category}}</span>
</figure>